.product-cards--container{
    display:flex;
    flex-wrap: wrap;
    width: 930px;/*es donde queremos el cambio*/
    margin:0 auto;
}
.plans-container--slider{
    justify-content: center;
    overflow-y: hidden;
}